/* universal styles */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --primary-color: #FEEAE9;
  --mini-text-color: #707070;
}
/* google font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* header styles */
header{
  max-width:1212px;
  margin:0 auto;
}
/* nav bar styles */
nav{
  height:40px;
  margin: 20px 50px;
}
nav img{
  height: 30px;
  width:159px;

}
.search-tool{
  width:450px;
   height:100%;
  background-color:#F1F1F1;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  position: relative;
}
.search-tool input{
  width: 95%;
  border:none;
  background-color: #F1F1F1;
  padding:7px 20px;
}
.fa-solid{
  position: absolute;
  right: 20px;
  top:13px;
  color: #707070;
}
nav ul{
  gap: 50px;

}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: var(--mini-text-color);
}
