/* universal styles */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
span a{
  text-decoration: none;
  color:#FF9D00;
  font-size: 20px;
  font-weight: bold;
}
:root{
  --primary-color: #FEEAE9;
  --mini-text-color: #707070;
}
button:hover{
  background-color:rgb(255,156,53);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* google font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-font-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-style{
  background: linear-gradient(to bottom, rgb(255,88,155), rgb(255,19,111));
  padding:12px 28px;
  border: none;
  border-radius: 6px;
  margin-top: 20px;

  color: #ffff;
}


/* header styles */
header{
  max-width:1212px;
  margin:10px auto;
}
/* nav bar styles */
nav{
  height:40px;
  margin: 20px 50px;
}
nav img{
  height: 30px;
  width:159px;

}
.search-tool{
  width:450px;
   height:100%;
  background-color:#F1F1F1;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  position: relative;
}
.search-tool input{
  width: 95%;
  border:none;
  background-color: #F1F1F1;
  padding:7px 20px;
}
.fa-solid{
  position: absolute;
  right: 20px;
  top:13px;
  color: #707070;
}
nav ul{
  gap: 50px;

}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: var(--mini-text-color);
}
/* banner section */
.banner{
  width: 100%;
  height:455px;
  background-color:var(--primary-color);
  border: 10px;
  gap: 142px;
  padding:65px;
  border-radius: 10px;
}
.banner-image{
  width: 402px;
  height: 378px;
}
.banner-image img{
  width: 402px;
  height: 378px;
}
.banner-title{
  font-size: 50px;
  font-weight: bold;
}
/* banner subtile */
.banner-subtitle{
  color: var(--mini-text-color);
  margin: 10px 0 20px 0;
}
.banner-span{
  font-size: 40px;
  color:#FF136F;
  font-weight: bold;

}
/* catagories styles */
.catagories{

  margin: 30px 50px;
}
.catagories-title{
  font-size: 36px;
  font-weight: 600px;
  margin-bottom: 20px
}
.card-container{
  gap: 30px;
}
.catagories-card{
  width:360px;
  height:120px;
  padding: 0 48px;
  border: none;
  border-radius:10px;
}
.catagories-card-title{
  font-size: 36px;
  font-weight:500px;
  color: #ffff;
}
.catagories-card img{
  width: 70px;
  height: 90px;
}
.catagories-card-shoes{
  background: linear-gradient(to bottom, rgb(255,88,155), rgb(255,19,111));
}
.catagories-card-watch{
  background: linear-gradient(to bottom right , rgb(255,156,53),rgb(255,208,25));
}
.catagories-card-bag{
  background: linear-gradient(to bottom right , rgb(66,137,255),rgb(63,7,248));
}
/* main section */
main{
  max-width:1212px;
  background-color: #F4F4F4;
  margin: 0 auto;
  padding:50px;
  border-radius: 10px;
}
.products-first{
  margin-bottom:100px;
}
h3{
  font-size:36px;
  font-weight:600;
  margin-bottom: 20px;
}
.product-card{
  height: 500px;
  margin-top: 10px;
  width: 360px;
  padding: 30px;
  background-color:#ffff;
  border-radius:10px;
  box-shadow: 2px 2px 10px #dddd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.product-card img{
  width:300px;
  height: 200px;

}
.product-title{
  font-size: 30px;
  font-weight:600px;
}
.product-description{
  font-size: 16px;
  color: var(--mini-text-color);
}
.product-price{
  font-weight:34px;
  font-weight:600;
}
.btn-product-buy{
  width:120px;
  margin:0 auto;
  padding:10px 20px;
  background-color: black;
  color: #ffff;
  border-radius: 5px;
  border: none;
}